.buckets {
    width: 100%;
    text-align: center;
    .bucket {
        display: inline-block;
        text-align: center;
        margin: 20px 40px; 
    }
    .bucket-number {
        font-size: 24px;
        font-weight: bold;
    }
}