.buckets {
    width: 100%;
    text-align: center;

    .bucket {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 20%;
        padding: 20px 0;
    }

    .bucket:hover {
        cursor: pointer;
        background-color: grey;
    }

    .bucket-number {
        font-size: 24px;
        font-weight: bold;
    }
}
